.bg-yellor-chart{
  background-color: #FB950E!important;
}

.bg-green-chart{
  background-color: #4BA64F!important;
}

.icon-div {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  z-index: 1045;
}
