  <div class="container-fluid">
    <div class="row pt-5">
    <div class="col-3 mb-4">
      <div class="card shadow-sm w-100">

        <!-- Card Header -->
        <div class="card-header ms-3 bg-white" style="min-height: 80px;">

          <!-- Overlapping Icon Box -->
          <div class="position-absolute mt-3 ms-3 custom-shadow rounded-1 start-0 translate-middle-y">
            <div class="bg-yellor-chart bg-gradient rounded-1 icon-div mx-0 my-0 text-center">
              <i class="fa-regular fa-clone fa-flip-vertical fs-1 text-center text-light py-4"></i>
            </div>
          </div>

          <!-- Header Content -->
          <div class="text-end">
            <small class="text-muted">Total Students</small>
            <h5 class=" mb-0 text-secondary">5487</h5>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body pt-2">
          <p class="text-danger small mb-0">
            <i class="fa-solid fa-triangle-exclamation text-danger"></i> Get More Space...
          </p>
        </div>

      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card shadow-sm w-100">

        <!-- Card Header -->
        <div class="card-header ms-3 me-3 bg-white" style="min-height: 80px;">

          <!-- Overlapping Icon Box -->
          <div class="position-absolute mt-3 ms-3 custom-shadow rounded-1 start-0 translate-middle-y">
            <div class="bg-green-chart bg-gradient bg-opacity-100 rounded-1 icon-div">
              <i class="fa-solid fa-shop text-white fs-3 text-center px-4 py-4"></i>
            </div>
          </div>

          <!-- Header Content -->
          <div class="text-end">
            <small class="text-muted">Total Enrolled Topics</small>
            <h5 class=" mb-0 text-secondary">237</h5>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body pt-2">
          <p class="text-secondary small mb-0">
            <i class="fa-regular fa-calendar-range"></i> Last 24 hours
          </p>
        </div>

      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card shadow-sm w-100">

        <!-- Card Header -->
        <div class="card-header ms-3 me-3 bg-white">

          <!-- Overlapping Icon Box -->
          <div class="position-absolute mt-3 ms-3 custom-shadow rounded-1  start-0 translate-middle-y"
           >
            <div class="bg-danger bg-gradient rounded-1 icon-div">
              <i class="fa-regular fa-circle-info fs-3 text-center my-1 px-4 py-4 text-white"></i>
            </div>
          </div>

          <!-- Header Content -->
          <div class="text-end pe-0 pt-3">
            <small class="text-muted">Fixed Issues</small>
            <h5 class="mb-0 text-secondary">75</h5>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body pt-2">
          <p class="text-secondary small mb-0">
            <i class="fa-solid fa-tag pe-2"></i>Tracked from Github
          </p>
        </div>

      </div>
    </div>

    <div class="col-3 mb-4">
      <div class="card shadow-sm w-100">

        <!-- Card Header -->
        <div class="card-header ms-3 me-3 bg-white" style="min-height: 80px;">

          <!-- Overlapping Icon Box -->
          <div class="position-absolute mt-3 ms-3 custom-shadow rounded-1  start-0 translate-middle-y">
            <div class="bg-info bg-gradient rounded-1 icon-div">
              <i class="fa-brands fa-twitter fs-3 text-white px-4 py-4 my-1"></i>
            </div>
          </div>

          <!-- Header Content -->
          <div class="text-end">
            <small class="text-muted me-0 pe-0">Total Revenue</small>
            <h5 class=" mb-0 text-secondary">+245</h5>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body pt-2">
          <p class="text-secondary small mb-0">
            <i class="fa-regular fa-clock-rotate-left fa-flip-horizontal me-2"></i> Just Updated
          </p>
        </div>

      </div>
    </div>
  </div>

  </div>
