<div class="container-fluid">
  <div class="row mx-2">
    <div class="col-6 mt-3">
      <label>exams</label>
    </div>
    <div class="col-6 text-end mt-2">
      <button class="btn bg-white square-btn">
        <i class="fa-solid fa-rotate-right text-primary"></i>
      </button>
    </div>
  </div>
  <div class="row mx-3 align-items-center">
    <div class="card mt-2 border-0 shadow-sm col-12">
      <div class="card-body mt-2">
        <div class="row mx-0 ps-0 ms-0 justify-content-start align-items-center">
          <form [formGroup]="searchForm" class="col-6">
            <input type="text" class="form-control w-50" placeholder="Search" formControlName="searchTerm" />
          </form>

          <div class="col-6 justify-content-end d-flex">
            <div class="row">
              <div class="col-6">
                <button class="btn px-5 py-2 w-100 border border-secondary mx-2" [disabled]="false" (click)="addRow()">
                  Add exam
                </button>
              </div>

              <div class="col-6">
                <button class="btn px-5 py-2 w-100 border border-secondary mx-2" [disabled]="false"
                  data-bs-toggle="modal" data-bs-target="#addQuestionModal">
                  Add Instant Exam
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="false">
          <div class="d-flex justify-content-start align-items-center mt-2 mx-2 px-3 py-3 rounded"
            style="background-color: #f8fbff;">
            <span class="px-3 fw-bold text-dark">Please add a exam to see content</span>
          </div>
        </ng-container>
        <ng-container *ngIf="true">
          <div class="table-responsive mt-4 ms-2" style="overflow-x: auto;">
            <table class="table table-borderless table-responsive">
              <thead>
                <tr>
                  <th class="table-header-light">Actions</th>

                  <th class="table-header-light text-center">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                      Code
                      <div class="d-flex flex-column align-items-center small ms-2">
                        <i class="fa fa-chevron-up" (click)="sortTable('code', true)"
                          [style.color]="sortedColumn === 'code' && isAscending ? 'blue' : 'black'">
                        </i>
                        <i class="fas fa-chevron-down" (click)="sortTable('code', false)"
                          [style.color]="sortedColumn === 'code' && !isAscending ? 'blue' : 'black'">
                        </i>
                      </div>
                    </div>
                  </th>

                  <th class="table-header-light text-center">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                      Exam Name
                      <div class="d-flex flex-column align-items-center small ms-2">
                        <i class="fas fa-chevron-up" (click)="sortTable('name', true)"
                          [style.color]="sortedColumn === 'name' && isAscending ? 'blue' : 'black'">
                        </i>
                        <i class="fas fa-chevron-down" (click)="sortTable('name', false)"
                          [style.color]="sortedColumn === 'name' && !isAscending ? 'blue' : 'black'">
                        </i>
                      </div>
                      <i class="fa-light fa-filter ms-3"></i>
                    </div>
                  </th>
                  <th class="table-header-light">Exam Date</th>
                  <th class="table-header-light">Exam Time</th>
                  <th class="table-header-light">Questions</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="
                let exam of exams
                  | paginate
                    : { itemsPerPage: pageSize, currentPage: currentPage };
                let i = index
              ">
                  <!-- Actions (Edit & Delete) -->
                  <td [ngStyle]="{
                  background: i % 2 === 0 ? '#f8fbff' : 'transparent'
                }">
                    <button (click)="editexam(i + pageSize * (currentPage - 1))"
                      *ngIf="editingIndex !== i + pageSize * (currentPage - 1)" class="bg-action"
                      [disabled]="isAddingNewexam">
                      <i class="far fa-pencil"></i>
                    </button>
                    <button (click)="deleteexam(i + pageSize * (currentPage - 1))"
                      *ngIf="editingIndex !== i + pageSize * (currentPage - 1)" class="bg-action">
                      <i class="far fa-trash"></i>
                    </button>


                    <ng-container *ngIf="editingIndex !== i + pageSize * (currentPage - 1)">
                      <span class="mx-2">|</span>
                      <button class="btn text-primary" [disabled]="false"
                  data-bs-toggle="modal" data-bs-target="#viewExamModal">
                  Exam Details
                      </button>
                    </ng-container>



                    <!-- Save & Cancel Buttons in Edit Mode -->
                    <button (click)="saveExam(i + pageSize * (currentPage - 1))" (click)="closeDescriptionPopup()"
                      *ngIf="editingIndex === i + pageSize * (currentPage - 1)" class="bg-action">
                      <i class="fa fa-check"></i>
                    </button>
                    <button (click)="cancelEdit()" (click)="closeDescriptionPopup()"
                      *ngIf="editingIndex === i + pageSize * (currentPage - 1)" class="bg-action">
                      <i class="fa fa-xmark"></i>
                    </button>
                  </td>

                  <!-- Code Column -->
                  <td [ngStyle]="{
                  background: i % 2 === 0 ? '#f8fbff' : 'transparent'
                }" role="button" style="width: 15rem;">
                    <a *ngIf="editingIndex !== i + pageSize * (currentPage - 1)" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" [attr.title]="'Click to view or add topic'"
                      class="text-primary text-decoration-underline"
                      [routerLink]="['/admin/exam/details', exam.code, exam.name]" (click)="hideTooltip($event)"
                      role="button">
                      {{ exam.code }}
                    </a>


                    <form [formGroup]="examForm" *ngIf="editingIndex === i + pageSize * (currentPage - 1)">
                      <input type="text" formControlName="code" class="form-control edit-mode"
                        placeholder="Enter Code" />
                    </form>
                  </td>

                  <!-- exam Name -->
                  <td class="w-25" [ngStyle]="{
                  background: i % 2 === 0 ? '#f8fbff' : 'transparent'}">
                    <span *ngIf="editingIndex !== i + pageSize * (currentPage - 1)">{{ exam.name }}</span>
                    <form [formGroup]="examForm" *ngIf="editingIndex === i + pageSize * (currentPage - 1)">
                      <input type="text" formControlName="name" class="form-control edit-mode"
                        placeholder="Enter exam Name" />
                    </form>
                  </td>




                  <!-- Description -->
                  <td class="" [ngStyle]="{
                  background: i % 2 === 0 ? '#f8fbff' : 'transparent'
                }" style="max-width: 100px">
                    <span *ngIf="editingIndex !== i + pageSize * (currentPage - 1)">{{ exam.date }}</span>
                    <form [formGroup]="examForm" *ngIf="editingIndex === i + pageSize * (currentPage - 1)">
                      <input type="date" formControlName="date" class="form-control edit-mode"
                        placeholder="Enter exam Name" />
                    </form>
                  </td>

                  <!-- Topics Column with Tooltip -->
                  <td class="" [ngStyle]="{
                  background: i % 2 === 0 ? '#f8fbff' : 'transparent'
                }" style="max-width: 100px">
                    <span *ngIf="editingIndex !== i + pageSize * (currentPage - 1)">{{ exam.time }}</span>
                    <form [formGroup]="examForm" *ngIf="editingIndex === i + pageSize * (currentPage - 1)">
                      <input type="time" formControlName="time" class="form-control edit-mode"
                        placeholder="Enter exam time" />
                    </form>
                  </td>


                    <ng-container *ngIf="editingIndex !== i + pageSize * (currentPage - 1)">
                      <td>
                                              <a class="bg-action text-primary text-decoration-underline"
                        [routerLink]="['/admin/questions', exam.code]">Add Questions
                      </a>
                      </td>


                    </ng-container>
                </tr>

              </tbody>

            </table>
          </div>
        </ng-container>

      </div>


      <div class="d-flex justify-content-end align-items-center w-100 custom-font">
        <!-- <span class="me-3">
          Showing {{ (currentPage - 1) * pageSize + 1 }} to
          {{
            currentPage * pageSize > exams.length
              ? exams.length
              : currentPage * pageSize
          }}
          of {{ exams.length }} entries
        </span> -->

        <div class="d-flex justify-content-between align-items-center w-100 mb-4 flex-wrap gap-2">
          <!-- Entries Info -->
          <div class="ms-auto text-end me-1">
            <span>
              Showing {{ (currentPage - 1) * pageSize + 1 }} to
              {{ (currentPage * pageSize > exams.length ? exams.length : currentPage * pageSize) }}
              of {{ exams.length }} entries
            </span>
          </div>

          <!-- Pagination Controls -->
          <div class="d-flex align-items-center gap-1">
            <button class="btn btn-outline-secondary btn-sm" (click)="goToFirstPage()" [disabled]="currentPage === 1">
              <i class="fa fa-angle-double-left"></i>
            </button>

            <button class="btn btn-outline-secondary btn-sm" (click)="goToPreviousPage()"
              [disabled]="currentPage === 1">
              <i class="fa fa-angle-left"></i>
            </button>

            <button class="btn btn-outline-primary btn-sm disabled">
              {{ currentPage }}
            </button>

            <button class="btn btn-outline-secondary btn-sm" (click)="goToNextPage()"
              [disabled]="currentPage === totalPages">
              <i class="fa fa-angle-right"></i>
            </button>

            <button class="btn btn-outline-secondary btn-sm" (click)="goToLastPage()"
              [disabled]="currentPage === totalPages">
              <i class="fa fa-angle-double-right"></i>
            </button>

            <!-- Page Size Dropdown -->
            <select class="form-select form-select-sm ms-2 w-auto" [(ngModel)]="pageSize" (change)="updatePagination()">
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
        </div>

        <!-- <form [formGroup]="pageSizeForm" class="d-flex align-items-center ms-2">
          <input
            type="number"
            class="form-control"
            style="width: 60px; height: 23px"
            formControlName="pageSize"
            min="1"
            [max]="exams.length"
          />
        </form> -->
      </div>

    </div>



  </div>

</div>
<!-- Description Modal -->
<!-- <div class="description-popup shadow-sm p-3" *ngIf="isDescriptionPopupOpen" [style.top.px]="popupPosition.top"
  [style.left.px]="popupPosition.left">

  <div class="d-flex justify-content-between align-items-center">
    <h6 class="mb-2">Description</h6>
    <button class="btn-close" (click)="closeDescriptionPopup()"></button>
  </div>
  <form [formGroup]="descriptionForm">
    <textarea class="form-control" rows="3" formControlName="description" maxlength="40"></textarea>
    <div *ngIf="
        descriptionForm.get('description')?.invalid &&
        descriptionForm.get('description')?.touched
      " class="text-danger small">
      <div *ngIf="descriptionForm.get('description')?.errors?.['required']">
        Description is required.
      </div>
      <div *ngIf="descriptionForm.get('description')?.errors?.['maxlength']">
        Description cannot exceed 40 characters.
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <small class="text-muted">{{ descriptionForm.get("description")?.value.length }}/40</small>
    <div>
      <button class="btn btn-primary me-2" style="min-width: 100px;"
        (click)="saveDescription(); closeDescriptionPopup()" [disabled]="descriptionForm.invalid">
        Save
      </button>
      <button class="btn btn-outline-secondary" style="min-width: 100px;" (click)="closeDescriptionPopup()">
        Cancel
      </button>
    </div>
  </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header flex-column align-items-start pb-0" style="border-bottom: none">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">
          Delete exam
        </h5>
        <hr class="modal-title-line w-100 m-0 mt-3" />
        <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal"
          aria-label="Close">
          <i class="fa-solid fa-xmark-large"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure that you want to delete exam
          <span id="examCodeToDelete"></span>?
        </p>
      </div>
      <div class="modal-footer justify-content-end border-0 pt-0">
        <button type="button" class="btn btn-primary px-4" id="confirmDeleteBtn" style="
            background-color: #2962ff;
            border-radius: 6px;
            font-weight: 500;
          ">
          Yes
        </button>
        <button type="button" class="btn btn-outline-secondary px-4 ms-2" data-bs-dismiss="modal"
          style="border-radius: 6px; font-weight: 500">
          No
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Add Question Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="addQuestionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form [formGroup]="questionForm1" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuestionModalLabel">Add New Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div>
                <input class="form-control mb-2" placeholder="Question Code" formControlName="code" />
                <div class="d-flex gap-2">
                  <select class="form-select" formControlName="topic">
                    <option value="">Select Topic</option>
                    <option value="Angular">Angular</option>
                    <option value="Spring boot">Spring boot</option>
                    <option value="Java">Java</option>
                  </select>
                  <select class="form-select" formControlName="difficulty">
                    <option value="">Select Difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                  </select>
                </div>
              </div>
              <div>
                <select class="form-select mb-2" formControlName="type">
                  <option value="MCQ">MCQ</option>
                  <option value="Subjective">Subjective</option>
                </select>
                <input type="number" class="form-control" placeholder="Marks" formControlName="marks" />
              </div>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="fw-bold">Question:</label>
                <textarea class="form-control" formControlName="questionText" rows="3"></textarea>
              </div>

              <!-- MCQ Options with Radio Buttons -->
              <div *ngIf="questionForm1.get('type')?.value === 'MCQ'" class="mb-4">
                <label class="fw-bold mb-2">Options (Select correct one):</label>
                <div class="row g-3">
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'A'" (change)="questionForm1.get('correctAnswer')?.setValue('A')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'A'" />
                    <input type="text" class="form-control" placeholder="Option A" formControlName="optionA" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'B'" (change)="questionForm1.get('correctAnswer')?.setValue('B')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'B'" />
                    <input type="text" class="form-control" placeholder="Option B" formControlName="optionB" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'C'" (change)="questionForm1.get('correctAnswer')?.setValue('C')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'C'" />
                    <input type="text" class="form-control" placeholder="Option C" formControlName="optionC" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'D'" (change)="questionForm1.get('correctAnswer')?.setValue('D')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'D'" />
                    <input type="text" class="form-control" placeholder="Option D" formControlName="optionD" />
                  </div>
                </div>
              </div>

              <!-- Subjective Word Limit -->
              <div *ngIf="questionForm1.get('type')?.value === 'Subjective'" class="mb-3">
                <label class="fw-bold">Word Limit:</label>
                <input type="number" class="form-control" placeholder="e.g. 250" formControlName="wordLimit" />
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="questionForm1.invalid">Add Question</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="modal fade" id="viewExamModal" tabindex="-1" aria-labelledby="viewExamModalLable" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form [formGroup]="questionForm1" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuestionModalLabel">Add New Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <div>
                <input class="form-control mb-2" placeholder="Question Code" formControlName="code" />
                <div class="d-flex gap-2">
                  <select class="form-select" formControlName="topic">
                    <option value="">Select Topic</option>
                    <option value="Angular">Angular</option>
                    <option value="Spring boot">Spring boot</option>
                    <option value="Java">Java</option>
                  </select>
                  <select class="form-select" formControlName="difficulty">
                    <option value="">Select Difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                  </select>
                </div>
              </div>
              <div>
                <select class="form-select mb-2" formControlName="type">
                  <option value="MCQ">MCQ</option>
                  <option value="Subjective">Subjective</option>
                </select>
                <input type="number" class="form-control" placeholder="Marks" formControlName="marks" />
              </div>
            </div>

            <div class="card-body">
              <div class="mb-3">
                <label class="fw-bold">Question:</label>
                <textarea class="form-control" formControlName="questionText" rows="3"></textarea>
              </div>

              <!-- MCQ Options with Radio Buttons -->
              <div *ngIf="questionForm1.get('type')?.value === 'MCQ'" class="mb-4">
                <label class="fw-bold mb-2">Options (Select correct one):</label>
                <div class="row g-3">
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'A'" (change)="questionForm1.get('correctAnswer')?.setValue('A')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'A'" />
                    <input type="text" class="form-control" placeholder="Option A" formControlName="optionA" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'B'" (change)="questionForm1.get('correctAnswer')?.setValue('B')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'B'" />
                    <input type="text" class="form-control" placeholder="Option B" formControlName="optionB" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'C'" (change)="questionForm1.get('correctAnswer')?.setValue('C')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'C'" />
                    <input type="text" class="form-control" placeholder="Option C" formControlName="optionC" />
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <input type="radio" name="correctOption" class="form-check-input me-2"
                           [value]="'D'" (change)="questionForm1.get('correctAnswer')?.setValue('D')"
                           [checked]="questionForm1.get('correctAnswer')?.value === 'D'" />
                    <input type="text" class="form-control" placeholder="Option D" formControlName="optionD" />
                  </div>
                </div>
              </div>

              <!-- Subjective Word Limit -->
              <div *ngIf="questionForm1.get('type')?.value === 'Subjective'" class="mb-3">
                <label class="fw-bold">Word Limit:</label>
                <input type="number" class="form-control" placeholder="e.g. 250" formControlName="wordLimit" />
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="questionForm1.invalid">Add Question</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

