.btn-close {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.green-checkbox {
    accent-color: green I !important;
    /* Box becomes green when checked */
    width: 18px;
    height: 18px;
}