.btn-close {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.green-checkbox {
    accent-color: green !important;
    width: 15px;
    height: 15px;
}                                                                                                                                                                                                                                                                   